---
name: home
url: /
controller: formatCtrl
---

<!-- New person form -->
<zf-modal id="newPersonForm" overlay="true">

  <div class="grid-block vertical">

    <div class="dark title-bar">

      <span class="title left">Add New Person</span>
      <span class="right" style="cursor:pointer;">
        <a zf-close=""><i class="fa fa-times fa-lg"></i></a>
      </span>

    </div>

    <div class="grid-content">

      <form name="newPerson" class="taskForm">

        <input ng-model="newPerson.firstName" type="text" placeholder="First Name">

        <input ng-model="newPerson.lastName" type="text" placeholder="Last Name">

        <input ng-model="newPerson.role" type="text" placeholder="Role">

        <!-- <input ng-model="newPerson.date" type="date" paceholder="Date"> -->

        <input ng-model="newPerson.email" type="text" placeholder="Email">        
        
        <p>
          <a class="default button float-right success" zf-close="" ng-click="CreatePerson( newPerson.firstName, newPerson.lastName, newPerson.role, newPerson.date, newPerson.email); newPerson = ''"><i class="fa fa-check fa-lg"></i> Add New Person</a>
        </p>
      </form>

    </div>

  </div>
  
</zf-modal>
<!-- /New person form -->


<!-- Person editing form -->

<zf-modal id="editPersonForm" overlay="true">

  <div class="grid-block vertical">

    <div class="dark title-bar">

      <span class="title left">Edit Person</span>
      <span class="right" style="cursor:pointer;">
        <a zf-close=""><i class="fa fa-times fa-lg"></i></a>
      </span>

    </div>

    <div class="grid-content">

      <div ng-show="editMode == false">

        <div ng-repeat="row in rows track by $index">
                
        <form name="editPerson" class="taskForm">

          <div ng-show="row.id"><input ng-model="row.firstName" type="text"></div>

          <div ng-show="row.id"><input ng-model="row.lastName" type="text"></div>

          <div ng-show="row.id"><input ng-model="row.role" type="text"></div>

          <div ng-show="row.id"><input ng-model="row.email" type="text"></div>

          <p>
            <a class="default button float-right success" zf-close="" ng-click="EditPerson( row.firstName, row.lastName, row.role, row.date, row.email); editPerson = ''"><i class="fa fa-check fa-lg"></i> Save Changes</a>
          </p>
        
        </form>
      
        </div>

      </div>

    </div>

  </div>
  
</zf-modal>

<!-- /Person editing form -->

<!-- Search Form + Add Person Form-->
<div class="grid-container">

<table st-persist="rows" st-table="rows" class="table table-striped">
  <thead>

  <tr>
    <th>
      <input placeholder="search firstname" st-search="firstName" class="input-sm form-control" type="search" />
    </th>
    <th>
      <input placeholder="search lastname" st-search="lastName" class="input-sm form-control" type="search"/>
    </th>
    <th>
      <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
    </th>

    <th colspan="4">
      <a zf-open="newPersonForm" class="expand success button float-right" ng-click="addPerson()"><i class="fa fa-plus"></i> Add Person</a>
    </th>
   </tr>
<!-- /Search Form + Add Person Form-->

  <tr>
    <th st-ratio="20" st-sort="firstName" style="cursor:pointer;">First Name <i class="fa fa-sort"></i></th>
    <th st-ratio="20" st-sort="lastName" style="cursor:pointer;">Last Name <i class="fa fa-sort"></i></th>
    <th st-ratio="20" st-sort="role" style="cursor:pointer;">Role <i class="fa fa-sort"></i></th>
    <th st-ratio="15" st-sort="date" style="cursor:pointer;">Date <i class="fa fa-sort"></i></th>
    <th st-ratio="5" st-sort="email" style="cursor:pointer;">Email</th>
    <th st-ratio="5">Action</th>
    <th st-ratio="5">Edit</th>
  </tr>


  </thead>
  <tbody>
    
      <tr ng-repeat="row in rows track by $index">

        <div ng-show="editMode == true">

        <td st-ratio="20" ng-model="row.firstName">{{row.firstName | uppercase}}</td>
        <td st-ratio="20" ng-model="row.lastName">{{row.lastName}}</td>
        <td st-ratio="20" ng-model="row.role">{{row.role}}</td>
        <td st-ratio="15" ng-model="row.date">{{row.date | date}}</td>
        <td st-ratio="5"><a ng-href="mailto:{{row.email}}"><i class="fa fa-envelope-o fa-2x"></i></a></td>

        </div>
        
        <!-- Remove/Trash Icon -->
         <td st-ratio="5"><a zf-open="removeRow"><i class="fa fa-trash-o fa-2x"></a></i>
        
        <div zf-modal="" id="removeRow">
          <div class="dark title-bar">
            <span class="title left">Warning</span>
            <span class="right" style="cursor:pointer;">
              <a zf-close=""><i class="fa fa-times fa-lg"></i></a>
            </span>
          </div>
    
          <div class="grid-block vertical">
            <div class="taskForm">
            <h4>Are you sure you want to delete this row?</h4>
            <a class="alert button" ng-click="removeItem(row)" href="#">Remove</a> <a zf-close="" class="secondary button" href="#">Cancel</a>
            </div>
          </div>
        </div>
        </td>
        
        <!-- /Remove/Trash Icon -->


        <!-- Edit Icon -->
        <td st-ratio="5">
        <div zf-open="editPersonForm">
          <a id="edit_toggle_{{row.id}}" ng-model="editMode" ng-click="editMode || UpdateTasks()"><i class="fa fa-cog fa-2x"></i></a>
          <label for="edit_toggle_{{row.id}}"></label>
        </div>
        </td>
        <!-- Edit Icon -->


      </tr>
  </tbody>

  <tfoot>
    <tr>
      <!-- <td><a class="tiny hollow button" st-export>Export</a></td> -->
      <!-- <div class="grid-content"> -->
       <!--  <td colspan="7" st-pagination="" st-items-by-page="2"></td> -->
      <!-- </div> -->
        <!-- <div st-pagination="" st-items-by-page="itemsByPage"></div> -->
    </tr>
  </tfoot>

</table>

</div>