---
name: home
url: /
controller: formatCtrl
---

<!-- <div class="grid-container">
  <h1>Welcome to Foundation for Apps!</h1>
  <p class="lead">This is version <strong>1.1 Weisshorn</strong>.</p>
</div> -->

<table st-table="rowCollection" class="table table-striped">
  <thead>
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>birth date</th>
    <th>balance</th>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rowCollection">
    <td>{{row.firstName | uppercase}}</td>
    <td>{{row.lastName}}</td>
    <td>{{row.birthDate | date}}</td>
    <td>{{row.balance | currency}}</td>
    <td>
      <button class="btn btn-sm" popover-placement="top" popover="{{row.email}}" type="button">
        <i class="glyphicon glyphicon-eye-open"></i>
      </button>
      <a ng-href="mailto:{{row.email}}">email</a></td>
    <td>
      <button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
        <i class="glyphicon glyphicon-remove-circle">
        </i>
      </button>
    </td>
  </tr>
  </tbody>
</table>